:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --text-background-color: #f5f5f5;
  --white-color: #ffffff;
  --text-secondary-bg-color: #f5f4fa;
  --black-color: #000000;
  --focus-btn-color: #188ce8;
  --tel-mail-color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
  margin: 0 auto;
}

/*-----------HEADER-----------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo-second {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.header-item .header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.header-contacs-mail,
.header-contacs-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacs-mail:hover,
.header-contacs-mail:focus {
  color: var(--accent-color);
}

.header-contacs-tel:hover,
.header-contacs-tel:focus {
  color: var(--accent-color);
}

.header-link.link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/*----------- HERO ----------- */

.hero {
  background-color: var(--primary-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36x;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  height: 120px;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--focus-btn-color);
}

/*----------- BENEFITS -----------*/

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*----------- FEATURE -----------*/

.feature {
  padding-bottom: 94px;
}
.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*------------- TEAM ----------------*/

.team {
  background-color: var(--text-secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-bottom {
  padding: 30px 70px;
}
.team-title-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.team-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  background-color: var(--white-color);
}

/*------------- FOOTER ------------*/
.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: block;
}

.footer-logo-second {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-addres {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
  display: block;
}

.footer-mail {
  margin-bottom: 9px;
  display: block;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--tel-mail-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-addres:hover,
.footer-addres:focus {
  color: var(--accent-color);
}

/*--------------- PORTFOLIO -------------*/

.main-contant {
  background-color: var(--white-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn .all,
.portfolio-btn .web,
.portfolio-btn .app,
.portfolio-btn .design,
.portfolio-btn .market {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--text-secondary-bg-color);
  cursor: pointer;
  border-radius: 4px;
}

.all:hover,
.all:focus,
.web:hover,
.web:focus,
.app:hover,
.app:focus,
.design:hover,
.design:focus,
.market:hover,
.market:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.all {
  padding: 6px 25px;
}

.web,
.app,
.design,
.market {
  padding: 6px 22px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-card {
  padding: 20px 24px;
}
